.container {
  height: 100vh;
  width: 100%;
  display: flex;
}

.cont-black-auto {
  height: auto;
  background: var(--bgBlack);
  min-height: 80vh;
  padding: 1.5em 0;
}

.cont-decorated {
  background: var(--bgBlack) url(../src/imgs/bg_black.png) no-repeat right top fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-container {
  align-items: center;
  justify-content: center;
}

@media  (min-width: 0px) and (max-width: 768px) {
  .cont-decorated-auto {
    height: auto;
    width: 100%;
    display: flex;
  }
  
}