#courses {
    display: flex;
    justify-content: space-around ;
    align-items: center;
    color: var(--white);

}

.courses-body-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;

}

.courses-body-text {
    width: 30em;
}

.courses-body-text p{
    font-size: 18px;
}

.courses-skills table {
    font-size: 18px;
}

.courses-skills td {
    padding: 0 1em 1em 0;
}

.courses-skills td img {
    padding-right: .4em;
}

.courses-body-1 h2{
    margin-bottom: .5em;
}

.courses-body-2 {
    width: 30em;
}

.courses-body-course {
    margin-top: 2em;
}

.course-text-name{
    display: flex;
    margin-bottom: 1em;
}

.course-text-name img{
    margin-right: 1em;
    height: 3em;
    width: 3.5em;
}

.course-text-name-h3 {
    font-size: 20px;
}

.course-text-name-p {
    font-size: 16px;
}

.course-text-description {
    font-size: 16px;
    margin-top: 1em;
}