header {
    display: flex;
    height: auto;
    padding: 1em 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: linear-gradient(to bottom, var(--bgBlack), var(--bgBlack-transparent),transparent);
}

#logo {
    font-size: 32px;
    margin: 0 1em ;
    cursor: pointer;
    font-weight: 500;
    color: var(--white);
    text-decoration: none;
}

.header-division {
    width: 33%;
}

header li, header a{
    text-decoration: none;
    list-style: none;
    color: var(--white);
    margin-left: 5%;
    font-size: 20px;
}