/* INTRODUÇÃO */

#home {
  align-items: center;
  justify-content: space-around;
}

.home-text {
  width: 30em;
  color: var(--white);
}

.home-text h1 {
  margin-bottom: 1em;
  font-size: 24px;
}

.home-text p {
  font-size: 18px;
  margin-bottom: 1em;
}

.home-text-contacts {
  display: flex;
}

.home-text-contacts a {
  color: var(--white);
  font-size: 18px;
  padding-left: 0.5em;
  text-decoration: none;
  margin-right: 1em;
  display: flex;
  align-items: center;
}

.home-text-contacts a:hover{
  color: var(--white-hover);
}

.home-text-contacts a img {
  height: 1.4em;
  width: 1.4em;
  margin-right: .5em;
}

/* PROJETOS */

.home-projects {
  margin-top: 3em;
}

.home-projects a:hover .project p {
  color:var(--white-hover) ;
}

.project {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
}

.project p {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: var(--white);
  margin: 0.3em;
}

.project span {
  margin: 0 0.3em;
  color: var(--white-transparent);
}

.project-thumb {
  height: 150px;
  width: 400px;
  border-radius: 10px;
}

.project p img {
  height: 1.2em;
  width: 1.2em;
  padding-left: 0.3em;
}

.gooday {
  background: url(../src/imgs/thumbs/Gooday.png);
  background-position: center center;
  background-size: cover;
}
.WeatherApp {
  background: url(../src/imgs/thumbs/weatherApp.png);
  background-position: center center;
  background-size: cover;
}

@media  (min-width: 769px) and (max-width: 992px)
{
  #home {
    flex-direction: column;
    justify-content: center;
  }
  
  .home-text {
    width: 80%;
    margin-top: 5em;
  }

  .home-projects {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 2em;
  }

  .project {
    margin: 1.5em 0;
  }

  .project-thumb {
    height: 100px;
    width: 300px;
    border-radius: 10px;
  }
}

@media  (min-width: 0px) and (max-width: 768px) {

  #home {
    flex-direction: column;
    justify-content: center;
  }

  .home-text {
    width: 80%;
  }

  #home #gooday, #home #WeatherApp {
    display: none;
  }

}

