.project-body {
  width: 80%;
  max-width: 1200px;
  height: 75%;
  color: var(--white);
  margin: var(--space2) 0;

  display: flex;
  flex-direction: column;
}

.project-body .project-body-banner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;
  border-radius: 1em;
}

.project-body-text {
  height: 70vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project-body-text div {
  width: 50%;
  padding-right: 2em;
}

.project-body-text img {
  width: 15em;
  height: auto;
}

.project-body-text-2 {
  width: 100%;
  height: 70vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-body-text-2 p {
  margin-top: 1em;
}

.project-body-text-2 h2 {
  margin-top: 1em;
}

.project-body-text-2 a {
  margin-top: 1.5em;
}

.project-body-text-2 li {
  margin: 0.5em 0 0.5em 1em;
  font-size: 1.2em;
}

.project-body li {
  margin: 0.5em 0 0.5em 1em;
  font-size: 1.2em;
}

.project-body h2 {
  margin-bottom: var(--space1-1);
}

.project-body p {
  font-size: 18px;
}

.project-body-imgs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-body-imgs img {
  width: 15em;
  height: auto;
}

.project-body a {
  color: var(--white);
  font-size: 1.5em;
  text-align: center;
}

.project-page-link {
  padding: var(--space1) 0 0 0;
}

textarea {
  border: none;
  resize: none;
  width: 80%;
  background: var(--white-transparent);
  color: var(--white);
  font-size: 1.5em;
  padding: 1em 0 0 0;
  text-align: center;
}

.description-code-area-p {
  text-align: left;
  width: 100%;
  margin: 1em 0;
}

.project-body-images img {
  width: 450px;
}

.project-body-code,
.margin-top {
  margin-top: 3em;
}

.project-body-code-h2 {
  margin-top: var(--space1);
}

.project-body-code-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-body-code-description span {
  text-align: left;
  width: 100%;
  margin: 1em 0;
  font-weight: 500;
  font-size: 1.2em;
}

.project-body-content {
  margin-top: var(--space1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-body-content img {
  width: 70%;
  border-radius: 10px;
  height: auto;
  margin-bottom: 2em;
}

.project-body-content-p {
  margin-bottom: 2em;
}

.project-body-credits {
  height: auto;
  width: 100%;
  padding-bottom: 2em;
  margin: 1em 0;
  border-radius: 10px;
  background: var(--div-bg);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-body-credits-bg {
  background: url(../src/imgs/bg_black.png);
  height: 6.5em;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.project-body-credits-bg-personal_pic {
  width: 8em;
  height: 8em;
  margin: 2em auto 0 auto;
  border-radius: 50%;
  background: url(../src/imgs/foto-pessoal.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-body-credits-text {
  text-align: center;
  margin: 4em 0 1em 0;
}

.project-body-credits ul {
  position: relative;
  display: flex;
  gap: 15px;
}

.project-body-credits ul li{
  position: relative;
    list-style: none;
    width: 50px;
    height: 50px;
    margin: 0;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
} 

.project-body-credits ul li:hover {
  width: 180px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.project-body-credits ul li::before {
  content: '';
    position: absolute;
    inset: 0;
    border-radius: 50px;
    background: linear-gradient(45deg, var(--bgBlack), var(--purple));
    opacity: 0;
    transition: 0.3s;
}

.project-body-credits ul li:hover::before{
  opacity: 1;
}

.project-body-credits ul li::after{
  content: '';
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--bgBlack), var(--purple));
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
  filter: blur(15px);
}

.project-body-credits   ul li:hover::after{
  opacity: 0.5;
}

.project-body-credits ul li img{
  color: #777;
  height:  25px !important;
  transition: 0.5s;
  transition-delay: 0.25s;
}

.project-body-credits ul li:hover img {
  transform: scale(0);
  transition-delay: 0.25s;
}

.project-body-credits ul li span{
  position: absolute;
}

.project-body-credits .credits-title {
  color: #fff;
  font-size: 18px !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transform: scale(0);
  transition: 0.1s;
  transition-delay: 0s;
}

.project-body-credits ul li:hover .credits-title{
  transform: scale(1);
  transition-delay: 0.25s;
}


/* BANNERS */

#gooday .project-body .project-body-banner {
  background: url("../src/imgs/banners/gooday.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#weather-app .project-body .project-body-banner {
  background: url("../src/imgs/banners/weatherApp.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#thoughts .project-body .project-body-banner {
  background: url("../src/imgs/banners/thoughts.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#getAPet .project-body .project-body-banner {
  background: url("../src/imgs/banners/getAPet.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#flappy-bird .project-body .project-body-banner {
  background: url("../src/imgs/banners/FlappyBird.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#conversor-de-moedas .project-body .project-body-banner {
  background: url("../src/imgs/banners/conversorDeMoedas.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#calculadora .project-body .project-body-banner {
  background: url("../src/imgs/banners/calculadora.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#batista .project-body .project-body-banner {
  background: url("../src/imgs/banners/batista.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media  (max-width: 1200px) 
{

  textarea {
    font-size: 1em;
  }

}


@media  (min-width: 0px) and (max-width: 992px){
  .project-body-text {
  height: 70vh;
  flex-direction: column;
  justify-content: center;
}

.project-body-text div {
  width: 80%;
  padding: 0;
}

.project-body-text img {
  display: none
}

 .project-body-banner {
  display: none;
}

.project-body-imgs {
  flex-direction: column;
}

}