.project-body {
  width: 80%;
  height: 75%;
  color: var(--white);
  margin: var(--space2) 0;

  display: flex;
  flex-direction: column;
}

.project-body .project-body-banner {
  width: 100%;
  height: 100px;
  border-radius: 1em;
}

.project-body-text {
  height: 70vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project-body-text div {
  width: 50%;
  padding-right:2em ;
}

.project-body-text img {
  width: 15em;
  height: auto;
}

.project-body-text-2 {
  width: 100%;
  height: 70vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-body-text-2 p {
  margin-top: 1em;
}

.project-body-text-2 h2 {
  margin-top: 1em;
}

.project-body-text-2 a {
  margin-top: 1.5em;
}

.project-body-text-2 li {
  margin: .5em 0 .5em 1em;
  font-size: 1.2em;
}

.project-body li {
  margin: .5em 0 .5em 1em;
  font-size: 1.2em;
}

.project-body h2 {
  margin-bottom: var(--space1-1);
}

.project-body p {
  font-size: 18px;
}

.project-body-imgs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-body-imgs img {
  width: 15em;
  height: auto;
}

.project-body a {
  color: var(--white);
  font-size: 1.5em;
  text-align: center;
}

.project-page-link {
  padding: var(--space1) 0 0 0;
}

textarea {
  border: none;
  resize: none;
  width: 80%;
  background: var(--white-transparent);
  color: var(--white);
  font-size: 1.5em;
  padding: 1em 0 0 0;
  text-align: center;
}

.description-code-area-p {
  text-align: left;
  width: 100%;
  margin: 1em  0;
}

.project-body-images img {
  width: 450px;
}

.project-body-code, .margin-top {
    margin-top: 3em;
}

.project-body-code-h2 {
  margin-top: var(--space1);
}

.project-body-code-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-body-code-description span{
  text-align: left;
  width: 100%;
  margin: 1em 0;
  font-weight: 500;
  font-size: 1.2em;
}

.project-body-content {
  margin-top: var(--space1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-body-content img {
  width:70%;
  border-radius: 10px;
  height: auto;
  margin-bottom: 2em;
}

.project-body-content-p {
  margin-bottom: 2em;
}

/* BANNERS */

#gooday .project-body .project-body-banner {
  background: url("../src/imgs/banners/gooday.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#weather-app .project-body .project-body-banner {
  background: url("../src/imgs/banners/weatherApp.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#thoughts .project-body .project-body-banner {
  background: url("../src/imgs/banners/thoughts.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#getAPet .project-body .project-body-banner {
  background: url("../src/imgs/banners/getAPet.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#flappy-bird .project-body .project-body-banner {
  background: url("../src/imgs/banners/FlappyBird.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#conversor-de-moedas .project-body .project-body-banner {
  background: url("../src/imgs/banners/conversorDeMoedas.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#calculadora .project-body .project-body-banner {
  background: url("../src/imgs/banners/calculadora.png");
  background-position: center center;
  background-repeat: no-repeat;
}