.body-page {
  width: 80%;
  height: 75%;
  color: var(--white);
  margin-bottom: 2em;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.body-page .banner {
  width: 100%;
  height: 100px;
  border-radius: 10px;
}

.intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.5em;
}

.intro div {
  width: 50%;
  padding-right:2em ;
}

.intro img {
  width: 15em;
  height: auto;
}

.intro-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin-top: 3em;
}

.intro-2 p {
  margin-top: 1em;
}

.intro-2 a {
  margin-top: 1.5em;
}

.intro-2 li {
  margin: .5em 0 .5em 1em;
  font-size: 1.2em;
}

.body-page li {
  margin: .5em 0 .5em 1em;
  font-size: 1.2em;
}

.body-page h2 {
  margin: 1em 0;
}

.body-page p {
  font-size: 18px;
}

.project-imgs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-imgs img {
  width: 15em;
  height: auto;
}

.body-page a {
  color: var(--white);
  font-size: 1.5em;
  text-align: center;
}

textarea {
  border: none;
  resize: none;
  width: 80%;
  background: var(--white-transparent);
  color: var(--white);
  font-size: 1.5em;
  padding: 1em 0 0 0;
  text-align: center;
}

.p-code-area{
  text-align: left;
  width: 100%;
  margin: 1em  0;
}


.images img {
  width: 450px;
}

.code-area, .margin-top {
    margin-top: 3em;
}

.description-code-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description-code-area span{
  text-align: left;
  width: 100%;
  margin: 1em 0;
  font-weight: 500;
  font-size: 1.2em;
}

.navigate {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigate img {
  width:70%;
  border-radius: 10px;
  height: auto;
  margin-bottom: 2em;
}

.project-p {
  margin-bottom: 2em;
}

/* BANNERS */

#gooday .body-page .banner {
  background: url("../src/imgs/banners/gooday.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#weather-app .body-page .banner {
  background: url("../src/imgs/banners/weatherApp.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#thoughts .body-page .banner {
  background: url("../src/imgs/banners/thoughts.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#getAPet .body-page .banner {
  background: url("../src/imgs/banners/getAPet.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#flappy-bird .body-page .banner {
  background: url("../src/imgs/banners/FlappyBird.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#conversor-de-moedas .body-page .banner {
  background: url("../src/imgs/banners/conversorDeMoedas.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#calculadora .body-page .banner {
  background: url("../src/imgs/banners/calculadora.png");
  background-position: center center;
  background-repeat: no-repeat;
}