#perfil {
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: var(--white);
}

.perfil-body-1 {
	width: 30em;
}

.perfil-body-1 h2, .perfil-body-2 h2 {
	font-size: 24px;
    margin-bottom: 1em;
}

.perfil-body-1 p {
	font-size: 18px;
}

.perfil-body-2 li {
	list-style: none;
	margin-bottom: 1em;
}

.perfil-body-2 a {
	text-decoration: none;
	color: var(--white);
	font-size: 18px;
	display: flex;
	align-items: center;
}

.perfil-body-2 a img {
	height: 1.5em;
	width: 1.5em;
	margin-right: .7em;
}

.close-tag {
	display: flex;
	height: 10em;
	width: auto;
	align-items:flex-end ;
	justify-content: end;
}

.close-tag-img{
	height:2em;
}
