#projects {
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects .projects-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
}

#projects .project-thumb {
  height: 150px;
  width: 100%;
  border-radius: 10px;
}

.projects-body a {
  width: 40%;
  margin: 2em 0;
}

.project p {
  margin-top: 0.5em;
}

.projects-body a:hover .project p {
  color: var(--white-hover);
}

/* PROJETOS */
#projects #gooday {
  display: none;
}

#projects #WeatherApp {
  display: none;
}

.batista {
  background: url(../src/imgs/thumbs/batista-previa.png);
  background-position: bottom center;
  background-size: cover;
}
.calculadora {
  background: url(../src/imgs/thumbs/calculadora.png);
  background-position: center center;
  background-size: cover;
}

.conversorDeMoedas {
  background: url(../src/imgs/thumbs/conversor.png);
  background-position: center center;
  background-size: cover;
}
.flappyBird {
  background: url(../src/imgs/thumbs/flappyBird.png);
  background-position: center center;
  background-size: cover;
}

.getAPet {
  background: url(../src/imgs/thumbs/getaPet.png);
  background-position: center center;
  background-size: cover;
}
.thoughts {
  background: url(../src/imgs/thumbs/Thoughts.png);
  background-position: center center;
  background-size: cover;
}

@media (min-width: 1350px){
  #projects .project-thumb {
    height: 200px;
  }
  .projects-body a {
    width: 35%;
    margin: 2em 0;
  }
}
@media (min-width: 0px) and (max-width: 992px) {
  .projects-body a {
    width: 100%;
    margin: 2em 0;
  }  
}

@media (min-width: 0) and (max-width: 768px) {
  #projects #gooday,
  #projects #WeatherApp {
    display: block;
  }
}
